Health {
	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	opacity: 0;
	position: absolute;
	transition: all 0.5s ease-out;
	background-color: rgba( black, 0.5 );
	right: 40px;
	bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	height: 60px;
	padding: 0 20px;
	align-items: center;
	border-radius: 15px;
}

Voice_icon {

	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	opacity: 0;
	position: absolute;
	transition: all 0.5s ease-out;
	background-color: rgba( black, 0.5 );
	right: 250px;
	bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	height: 60px;
	padding: 0 20px;
	align-items: center;
	border-radius: 15px;
}

Name_Spawn {
	flex-basis;
	background-color: rgba( black, 0.5 );
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX( -50% ) translateY( -50% );
	border-radius: 15px;
	align-items: center;
	text-align: center;
	font-weight: bolder;
	color: white;
	pointer-events: all;
	flex-direction: column;
	font-size: 25px;
	font-weight: bold;
	font-family: poppins;
	padding: 10px;

	.space {
		font-size: 15px;
	}

	.bp_close {
		padding: 5px;
		border-radius: 15px;
		background-color: rgba( white, 0.25 );
	}

	&.close {
		opacity: 0;
		pointer-events: none;
	}
}


text.title
{
	font-family: Poppins;
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 100px;
	top: 50px;
}

text.title2 {
	font-family: Poppins;
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 100px;
	top: 75px;
}
text.title3 {
	font-family: Poppins;
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 100px;
	top: 100px;
}

CurrentTool
{
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	transition: all 0.5s ease-out;
	justify-content: center;
	align-items: flex-end;
	opacity: 0;

	&.open
	{
		opacity: 1;
	}
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 5px black;
	}

	.slot-number
	{
		font-size: 25px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #a8323c, 0.5 );
		transition: all 0.1s ease-out;
		width: 100px;
		height: 100px;

		.slot-number
		{
			color: #275576;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
